
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

:root {

  ::-webkit-scrollbar-track {
    background: var(--landing-card);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--landing-bg);
    background: linear-gradient(123.28deg, #fb8500 4.69%, #040e3a 289.88%);
    border-radius: 10px;
  }

  --landing-bg: #050810;
  --landing-card: #131620;
  --btn-primary: linear-gradient(123.28deg, #fb8500 4.69%, #040e3a 289.88%);
  --text-primary: #ffff;
  --text-secondary: #bfbfbf;
  --app-bg: #131517;
  --app-primary: #1e1f25;
  --app-button: #2f3033;
  --primary-blue: #fb8500;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;

  :hover {
    cursor: pointer;
    text-decoration: inherit;
  }
}

.nav-btn,
.join-btn,
.action-btn,
.dashboard-btn,
.func-btn,
.control-btn,
.hero-btn,
.join-btn {
  transition: 0.2s;
  cursor: pointer;

  &:active {
    transform: scale(0.98);
  }
}
