
  .gbtn {
    height: 56px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 20px;
  }
  
 
  .Register #gradient {
    background: #7cfea2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .nav-btn {
    padding: 10px 24px;
    background: linear-gradient(123.28deg, #7cfea2 4.69%, #040e3a 289.88%);
    color: var(--text-primary);
    border-radius: 5px;
  }
  .nav-btn:hover {
    box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.24);
    transition: 0.3s;
    cursor: pointer;
  }
  .Register,
  .Login {
    background-color: var(--landing-bg);
    width: 100%;
    min-height: 100vh;
    padding: 0px 10px;
    box-sizing: border-box;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .login-center {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    top: -100px;
  }
  .login-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .login-right {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  .auth-con {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 50px;
  }
  .auth-title {
    z-index: 2;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #fff;
  }
  .auth-card {
    width: 100%;
    max-width: 600px;
    background-color: #131620;
    color: var(--text-primary);
    box-shadow: -1px 17px 33px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }
  .auth-card .heading {
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;
    color: #fff;
  }
  .auth-card .sub-heading {
    color: #b4b4b4;
    font-size: 16px;
  }
  .auth-card .auth-inp {
    margin-top: 50px;
    width: 100%;
  }
  .auth-card .inp-box {
    width: 100%;
    display: flex;
    align-items: center;
    outline: 1px solid var(--primary-color);
    padding: 2px 8px;
    border-radius: 10px;
    height: 50px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(220, 220, 220, 0.632);
    background-color: #b4b4b4 0f;
  }
  .auth-card .inp-box input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    padding-left: 4px;
    color: var(--primary-color);
    font-size: 18px;
  }
  .auth-card .auth-btn {
    height: 56px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 20px;
  }
  
  .codzlogo {
    width: 120px;
    height: 120px;
  }
  
  .auth-card .auth-link {
    padding-top: 15px;
  }
  .auth-card .auth-link a {
    color: #7cfea2;
  }
  @media screen and (max-width: 480px) {
    .navbar {
      height: 70px !important;
    }
    .auth-con {
      padding-top: 50px !important;
    }
  }