.dashboard {
    font-family: Lexend, sans-serif;
    display: flex;
    position: relative;
    padding-left: 20px;
    background: var(--landing-bg);
  }
  
  .dashboard-main {
    flex: 80%;
    padding-top: 21px;
    overflow: auto;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-main::-webkit-scrollbar {
    display: none;
  }
  
  .welcome-head {
    font-family: "Lexend", sans-serif;
    color: #306bff;
    height: 16vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 1200px;
    width: 100%;
    color: var(--text-primary);
    background: var(--landing-bg);
  }
  
  .welcome-head h1 {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .welcome-head p {
    color: #306bff;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
  }
  
  .dashboard-summary {
    max-width: 250px;
    padding-left: 5px;
    padding-right: 5px;
    flex: 20%;
    height: 100vh;
    margin-left: 10px;
    background-color: var(--app-primary);
    z-index: 3;
    border-radius: 10px;
  }
  
  .feed-search {
    width: 99%;
    min-height: 80px;
    height: auto;
    background-color: var(--app-primary);
    border-radius: 10px;
    margin-top: 20vh;
    padding: 5px 5px;
  }
  
  .feed-search h3 {
    font-family: "Lexend", sans-serif;
    color: #306bff;
  }
  
  .inputbox {
    display: flex;
    width: 100%;
    font-family: "Lexend", sans-serif;
  }
  
  .inputbox .inputx {
    flex: 92%;
    background: #25262b;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 0 10px;
    align-items: center;
    font-family: "Lexend", sans-serif;
    padding: 0 10px;
  }
  
  .inputbox .inputx input {
    font-family: Lexend, sans-serif;
    background: none;
    border: none;
    outline: none;
    padding: 8px 0;
    color: #fff;
    flex: 1;
    margin-left: 10px;
    font-size: 16px;
    width: 90%;
  }
  
  .feed-search .searchbtn {
    flex: 8%;
    width: 75px;
    height: 40px;
    font-size: 20px;
    background: linear-gradient(123.28deg, #306bff 4.69%, #040e3a 289.88%);
    color: var(--text-primary);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  
  .feed-search .searchbtn:hover {
    box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.24);
    transition: 0.3s;
    cursor: pointer;
  }
  
  .posts {
    font-size: 22px;
  }
  
  /* #blurr{
      filter: blur(20px);
  } */
  
  .loader-img {
    align-self: center;
  }
  
  .feed-search.intro-graphic {
    max-width: 100%;
    z-index: 1;
    position: absolute;
    text-align: center;
  }
  
  .feed-search .intro-graphic img {
    width: 100%;
  }