.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  height: 93vh;
}

.subtext {
  color: #a0aec0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.main-text {
  text-align: center;
  font-family: "Poppins";
  font-size: 100px;
  font-weight: bold;
  line-height: 110px;
}

.highlighted-text {
  color: #7cfea2;
}

.cta-button {
  background-color: #7cfea2;
  padding: 5px 5px;
  width: 300px;
  height: 80px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #fff;
  color: #41a960;
}

.cta-text {
  text-align: center;
}



/* about.css */

/* Main section */
.about-section {
    min-height: 100vh;
    background-color: #090909;
    border-top: 0.5px solid #ccc; /* Use appropriate gray value */
    border-radius: 100px;
  }
  
  /* Left container */
  .about-container-left {
    flex: 0.5;
  }
  
  .about-left-item {
    height: 550px;
    border-radius: 3xl;
    background-color: #7cfea2;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .about-left-title {
    font-size: 3xl;
    color: #000;
    font-family: Poppins;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .about-left-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: thin;
    color: #000;
  }
  
  .about-left-image {
    margin-top: 3px;
  }
  
  /* Right container */
  .about-container-right {
    flex: 0.5;
  }
  
  .about-right-item {
    background-color: #121212;
    height: 300px;
    border-radius: 3xl;
    padding: 10px;
    margin-bottom: 10px;
    border: 0.5px solid #ccc;
  }
  
  .about-right-image {
    margin-bottom: 10px;
  }
  
  .about-right-title {
    font-size: 2xl;
    font-family: Poppins;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1px;
  }
  
  .about-right-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: thin;
    color: #fff;
    margin-bottom: 8px;
  }
  
  .about-right-link {
    display: flex;
    align-items: center;
    color: #7cfea2;
    cursor: pointer;
  }
  
  /* Explorer section */
  .about-explorer {
    background-color: #121212;
    height: 300px;
    border-radius: 3xl;
    padding: 10px;
    margin-bottom: 10px;
    border: 0.5px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-explorer-image {
    margin-bottom: 10px;
  }
  
  .about-explorer-title {
    font-size: 2xl;
    font-family: Poppins;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1px;
    text-align: center;
  }
  
  .about-explorer-text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: thin;
    color: #fff;
    margin-bottom: 8px;
  }
  
  .about-explorer-link {
    display: flex;
    align-items: center;
    color: #7cfea2;
    cursor: pointer;
  }
  