.profile {
  font-family: "Lexend", sans-serif;
  font-style: normal;
}

.profile-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  gap: 12px;
  z-index: 1;
  font-family: "Lexend", sans-serif;
  background-color: var(--app-primary);
}

.profile-summary h1 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  z-index: 3;
}

.profile-summary .username {
  font-size: 20px;
  font-weight: bold;
  color: #fb8500;
}
.profile-summary .title {
  font-size: 16px;
  color: #4a4a4a;
}

.profile-pic {
  width: 80%;
  border-radius: 15px;
  z-index: 3;
  box-shadow: 2px 1px 5px #b3b3b4;
}

.profile-stats {
  padding-top: 25px;
  display: flex;
  gap: 10px;
  position: relative;
  z-index: 1;
  background-color: var(--app-primary);
}

.profile-card {
  height: 60px;
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid #fb8500;
  box-shadow: 0px 0px 1px 1px #6d6d6d;
  background-color: var(--landing-bg);
}

.profilecount {
  font-size: 16px;
  font-weight: bold;
  color: #fb8500;
}

.profilecount-sub {
  color: #696969;
  font-size: 16px;
  font-weight: bold;
}

.profile-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profilestats {
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dashboard {
  font-family: Lexend, sans-serif;
  display: flex;
  position: relative;
  padding-left: 20px;
  background: var(--landing-bg);
}

.dashboard-main {
  flex: 80%;
  padding-top: 21px;
  overflow: auto;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
}

.dashboard-main::-webkit-scrollbar {
  display: none;
}

.welcome-head {
  font-family: "Lexend", sans-serif;
  color: #fb8500;
  height: 16vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 1200px;
  width: 100%;
  color: var(--text-primary);
  background: var(--landing-bg);
}

.welcome-head h1 {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 20px;
}

.welcome-head p {
  color: #fb8500;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
}

.dashboard-summary {
  max-width: 250px;
  padding-left: 5px;
  padding-right: 5px;
  flex: 20%;
  height: 100vh;
  margin-left: 10px;
  background-color: var(--app-primary);
  z-index: 3;
  border-radius: 10px;
}

.feed-search {
  width: 99%;
  min-height: 80px;
  height: auto;
  background-color: var(--app-primary);
  border-radius: 10px;
  margin-top: 20px;
  padding: 5px 5px;
}

.feed-search h3 {
  font-family: "Lexend", sans-serif;
  color: #fb8500;
}

.inputbox {
  display: flex;
  width: 100%;
  font-family: "Lexend", sans-serif;
}

.inputbox .inputx {
  flex: 92%;
  background: #25262b;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
  align-items: center;
  font-family: "Lexend", sans-serif;
  padding: 0 10px;
}

.inputbox .inputx input {
  font-family: Lexend, sans-serif;
  background: none;
  border: none;
  outline: none;
  padding: 8px 0;
  color: #fff;
  flex: 1;
  margin-left: 10px;
  font-size: 16px;
  width: 90%;
}

.feed-search .searchbtn {
  flex: 8%;
  width: 75px;
  height: 40px;
  font-size: 20px;
  background: linear-gradient(123.28deg, #fb8500 4.69%, #040e3a 289.88%);
  color: var(--text-primary);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.feed-search .searchbtn:hover {
  box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.24);
  transition: 0.3s;
  cursor: pointer;
}

.posts {
  font-size: 22px;
}

/* #blurr{
      filter: blur(20px);
  } */

.loader-img {
  align-self: center;
}

.feed-search.intro-graphic {
  max-width: 100%;
  z-index: 1;
  position: absolute;
  text-align: center;
}

.feed-search .intro-graphic img {
  width: 100%;
}

.teamfindercardbody {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: product;
  border: 2px solid #3364ff;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 20px #6d6d6d;
  background-color: #050810;
  position: relative;
  z-index: 1;
}

.teamfindercardbg {
  position: absolute;
  opacity: 90%;
  width: 100%;
  height: 40vh;
  z-index: 2;
}

.teamfindercontent {
  position: relative;
  z-index: 3;
  text-align: center;
  padding: 40px;
}

.teamfindercontent h1 {
  background: var(--btn-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 50px;
  padding-bottom: 25px;
  font-family: "Lexend", sans-serif;
}

.teamfinderform {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.teamfindercontent .inputbox {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 2px 8px;
  border-radius: 10px;
  height: 50px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(220, 220, 220, 0.632);
  background-color: #b4b4b4 0f;
}
.teamfindercontent .inputbox input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding-left: 4px;
  color: var(--text-secondary);
  font-size: 18px;
}

.teamfindercontent .inputbox input:focus {
  color: var(--text-secondary);
}

.teamfinderinputs {
  display: flex;
  flex-direction: row;
  font-family: "Lexend", sans-serif;
  align-items: center;
  justify-content: left;
}

.teamfinderinputs > h4 {
  font-size: 24px;
  color: var(--text-secondary);
}

.teamfinderskillhead {
  display: flex;
  flex-direction: column;
  font-family: "Lexend", sans-serif;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.teamfinderskillhead > h4 {
  font-size: 24px;
  color: var(--text-secondary);
}

.skill-body {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.teamfinderskillhead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.teamfinderyear {
  display: flex;
  flex-direction: column;
  font-family: "Lexend", sans-serif;
  align-items: left;
  text-align: left;
  justify-content: left;
  padding-bottom: 24px;
}

.teamfinderyear > h4 {
  font-size: 24px;
  color: var(--text-secondary);
  padding-bottom: 20px;
}

.skill-box {
  width: auto;
  height: auto;
  background-color: #c7c3c3;
  padding: 8px;
  border-radius: 8px;
}

.skill-box:hover {
  cursor: pointer;
  background-color: #3364ff;
  color: white;
}

#year-selected {
  background-color: #3364ff;
  color: white;
}

.teamsubmit {
  padding: 10px 24px;
  background: linear-gradient(123.28deg, #fb8500 4.69%, #040e3a 289.88%);
  color: var(--text-primary);
  border-radius: 5px;
  width: 100px;
  font-family: "Lexend", sans-serif;
}

.teamsubmit:hover {
  box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.24);
  transition: 0.3s;
  cursor: pointer;
}

.finder {
  max-width: 80vw;
  width: 100%;
  height: 180px;
  background: linear-gradient(94.22deg, #fb8500 21.72%, #040e3a 122.76%);
  border-radius: 10px;
  box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 13vh;
  font-family: "Lexend", sans-serif;
}

.finder-box {
  min-width: 400px;
  width: 40%;
  height: 85%;
  background-color: whitesmoke;
  border-radius: 24px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.finder-box img {
  height: 100%;
  object-fit: contain;
}
.finder-box p {
  font-size: 28px;
}
.finder-box:hover {
  cursor: pointer;
}
.find {
  font-weight: bolder;
}

.feed-card {
  margin-top: 20px;
  min-width: 600px;
  background-color: var(--app-primary);
  border-radius: 10px;
  padding: 10px 10px;
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  font-family: "Lexend", sans-serif;
  font-style: normal;
}

.delete-card {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  color: #ffffff;
  right: 70px;
  background-image: url("../../assets/icons/delete.png");
  cursor: pointer;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.delete-card:hover {
  cursor: pointer;
  background-image: url("../../assets/icons/delete2.png");background-size: 20px 20px;
  background-repeat: no-repeat;
}

.feed_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #dde4f8;
}

.feed-cardright {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.feed-name {
  font-size: 16px;
  margin-bottom: 2px;
  color: #ffffff;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}

.feed-time {
  font-size: 12px;
  color: #828282;
}

.feed-description {
  margin-top: 10px;
}

.feed-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #fb8500;
}

.feedskills,
.feed-yoe {
  margin-bottom: 10px;
  font-size: 15px;
  color: #828282;
}

.feedskills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.feed-cardbottom {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-cardbtn {
  padding: 10px 10px;
  background: linear-gradient(123.28deg, #fb8500 4.69%, #040e3a 289.88%);
  color: var(--text-primary);
  border-radius: 5px;
}

.feed-cardbtn:hover {
  box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.24);
  transition: 0.3s;
  cursor: pointer;
}

.feed-cardlike {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 10px;
}

.feed-cardlike p{
  color: var(--text-primary);
}


.chipscontent {
    font-weight: 100;
}