.profile-main {
  min-height: 100%;
  max-height: 100vh;
  height: auto;
  overflow: auto;
  font-family: Lexend, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.profileedit {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}

.profileeditbtn {
  padding: 10px 24px;
  background: linear-gradient(123.28deg, #fb8500 4.69%, #040e3a 289.88%);
  color: var(--text-primary);
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.profileeditbtn:hover {
  box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.24);
  transition: 0.3s;
  cursor: pointer;
}

.profileedit h1 {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 20px;
  color: var(--text-primary);
  font-family: Lexend, sans-serif;
}

.profile-banner {
  width: 90%;
  padding-left: 20px;
}

.profile-header {
  margin-top: 20px;
  min-height: 300px;
  width: 100%;
  position: relative;
}

.coverpic {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.profile-cimg {
  height: 180px;
  background: linear-gradient(94.22deg, #fb8500 21.72%, #040e3a 122.76%);
  border-radius: 10px;
}

.profile-cimg img {
  height: 180px;
  border-radius: 10px;
}

.pencilicon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  height: 30px;
  color: white;
}

.profile-details {
  bottom: 10%;
  z-index: 10;
  height: 120px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.profile-details .profileleft {
  height: auto;
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
}

.profile-img {
  width: 120px;
  height: 120px;
  position: relative;
}

.profile-img .avatar {
  width: 120px;
  height: 120px;
  border-radius: 10%;
  background: linear-gradient(94.22deg, #fb8500 21.72%, #040e3a 122.76%);
}

.pencilicon2 {
  top: 5px;
  right: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.pencilicon2 .light {
  color: #000000;
  width: 20px;
  height: 20px;
}

.profileleft .profiletxt > p {
  padding-left: 24px;
}

.profileleft .profiletxt .profilename {
  font-size: 22px;
  font-family: Lexend, sans-serif;
  font-style: normal;
  color: var(--text-secondary);
}

.profileleft .profiletxt .profileposition,
.profileinstitution {
  color: #818181;
}

.profile-details .profilesocials {
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  width: 110px;
  padding-right: 20px;
}

.profile-details .socialgit,
.profile-details .sociallink {
  background: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.bgalert {
  top: 0;
  left: 38vw;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.profilesocials .alertbox {
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: relative;
}

.profilesocials .linkalert {
  z-index: 1;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 2px solid #3364ff;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 20px #6d6d6d;
  background-color: #050810;
}

.profilesocials .linkalert h2 {
  font-family: Lexend, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
}

.profile-details .profilesocials img {
  width: 35px;
  height: 35px;
}

.profileskills,
.profileabout,
.profileachievements,
.profileexperience,
.profileprojects {
  margin-bottom: 35px;
  color: var(--text-secondary);
  font-family: Lexend, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.profileabout h2,
.profileachievements h2,
.profileexperience h2,
.profileprojects h2 {
  padding-bottom: 10px;
}

.profileaboutcard,
.profileachievementscard,
.profileexperiencecard,
.profileprojectscard {
  color: var(--text-primary);
  background-color: var(--app-primary);
  border-radius: 10px;
  padding: 20px;
}

.profileskillssub {
  width: 100%;
  padding-top: 10px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-sub {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.profileprojectssub {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

ul {
  list-style-position: inside;
  font-size: 20px;
}

.profileprojectcard {
  width: 150px;
  height: 150px;
  background: linear-gradient(
    253.09deg,
    rgba(25, 36, 59, 0.25) -7.53%,
    rgba(208, 208, 208, 0.085) 97.04%
  );
  border-radius: 10px;
  border: 1px solid rgba(208, 208, 208, 0.085);
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid #3667ff;
}

.loader {
  border: 6px solid #dadada;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 35px;
  height: 35px;
  margin-left: 2rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profilepicedit {
  z-index: 1;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 2px solid #3364ff;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 20px #6d6d6d;
  background-color: #050810;
}

.profilepicedithead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-family: Lexend, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}
.profilepiceditbtn {
  padding: 10px 24px;
  background: linear-gradient(123.28deg, #fb8500 4.69%, #040e3a 289.88%);
  color: var(--text-primary);
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.2s;
  cursor: pointer;
  text-align: center;
}

.profilepiceditbtn:hover {
  box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.24);
  transition: 0.3s;
  cursor: pointer;
}
