.profile {
    font-family: "Lexend", sans-serif;
    font-style: normal;
  }
  
  .profile-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    gap: 12px;
    z-index: 1;
    font-family: "Lexend", sans-serif;
    background-color: var(--app-primary);
  }
  
  .profile-summary h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    z-index: 3;
  }
  
  .profile-summary .username {
    font-size: 20px;
    font-weight: bold;
    color: #fb8500;
  }
  .profile-summary .title {
    font-size: 16px;
    color: #4a4a4a;
  }
  
  .profile-pic {
    width: 80%;
    border-radius: 15px;
    z-index: 3;
    box-shadow: 2px 1px 5px #b3b3b4;
  }
  
  .profile-stats {
    padding-top: 25px;
    display: flex;
    gap: 10px;
    position: relative;
    z-index: 1;
    background-color: var(--app-primary);
  }
  
  .profile-card {
    height: 60px;
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid #fb8500;
    box-shadow: 0px 0px 1px 1px #6d6d6d;
    background-color: var(--landing-bg);
  }
  
  .profilecount {
    font-size: 16px;
    font-weight: bold;
    color: #fb8500;
  }
  
  .profilecount-sub {
    color: #696969;
    font-size: 16px;
    font-weight: bold;
  }
  
  .profile-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .profilestats {
    font-size: 18px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .dashboard {
    font-family: Lexend, sans-serif;
    display: flex;
    position: relative;
    padding-left: 20px;
    background: var(--landing-bg);
  }
  
  .dashboard-main {
    flex: 80%;
    padding-top: 21px;
    overflow: auto;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard-main::-webkit-scrollbar {
    display: none;
  }
  
  .welcome-head {
    font-family: "Lexend", sans-serif;
    color: #fb8500;
    height: 16vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 1200px;
    width: 100%;
    color: var(--text-primary);
    background: var(--landing-bg);
  }
  
  .welcome-head h1 {
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
  }
  
  .welcome-head p {
    color: #fb8500;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
  }
  
  .dashboard-summary {
    max-width: 250px;
    padding-left: 5px;
    padding-right: 5px;
    flex: 20%;
    height: 100vh;
    margin-left: 10px;
    background-color: var(--app-primary);
    z-index: 3;
    border-radius: 10px;
  }
  
  .feed-search {
    width: 99%;
    height: 80px;
    background-color: var(--app-primary);
    border-radius: 10px;
    margin-top: 100px;
    padding: 5px 5px;
  }
  
  .feed-search h3 {
    font-family: "Lexend", sans-serif;
    color: #fb8500;
  }
  
  .inputbox {
    display: flex;
    width: 100%;
    font-family: "Lexend", sans-serif;
  }
  
  .inputbox .inputx {
    flex: 92%;
    background: #25262b;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 0 10px;
    align-items: center;
    font-family: "Lexend", sans-serif;
    padding: 0 10px;
  }
  
  .inputbox .inputx input {
    font-family: Lexend, sans-serif;
    background: none;
    border: none;
    outline: none;
    padding: 8px 0;
    color: #fff;
    flex: 1;
    margin-left: 10px;
    font-size: 16px;
    width: 90%;
  }
  
  .feed-search .searchbtn {
    flex: 8%;
    width: 75px;
    height: 40px;
    font-size: 20px;
    background: linear-gradient(123.28deg, #fb8500 4.69%, #040e3a 289.88%);
    color: var(--text-primary);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  
  .feed-search .searchbtn:hover {
    box-shadow: 3px 2px 12px rgba(66, 164, 255, 0.24);
    transition: 0.3s;
    cursor: pointer;
  }
  
  .posts {
    font-size: 22px;
  }
  
  /* #blurr{
      filter: blur(20px);
  } */
  
  .loader-img {
    align-self: center;
  }
  
  .feed-search.intro-graphic {
    max-width: 100%;
    z-index: 1;
    position: absolute;
    text-align: center;
  }
  
  .feed-search .intro-graphic img {
    width: 100%;
  }